[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipython = "*"
ipdb = "*"
prettyprinter = "*"
pytest = "*"
click = "*"


[packages]



[requires]

python_version = "3.6"
